{% extends 'blog/base.html' %}
{% block content %}
{% load static %}
<form method="POST">
    {% csrf_token %}
    <div class="container">
        <br>
        <h1 class="fw-bolder">Make a new post</h1>
        <hr><br>
        <div>{{ form.non_field_errors }}</div>
        {% for f in form %}
            {% if f.label == "Title:" %}
                <div class="mb-3">
            {% else %}
                <div class="form-group">
            {% endif %}

                <h3><label for="{{ f.id_for_label }}">{{ f.label }}</label></h3>
                {{ f }}
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary" style="background-color: #16266a;">Post</button>
    </div>
</form>

{% endblock %}

