{% extends "blog/base.html" %}
{% load static %}

{% block content %}
    <div class="container custom-container" style="max-width: 1350px">
        <h1 class="fw-bolder">{{ title }}</h1>
        <hr />
        <br />
        <article class="media content-section">
            <div
              class="media-body"
              style="border: 1px solid black; padding: 23px; margin-bottom: 10px"
            >

                <div class="article-metadata">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="form-error">{{ form.non_field_errors }}</div>
                        {% for f in form %}
                            <h5><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}</label>{{ f }}</h5>
                            <div class="form-error">{{ f.errors }}</div>
                            <br>
                        {% endfor %}
                        <button style="background-color: #16266a; color: white; width: 120px;" class="btn" type="submit">
                            Save
                        </button>
                    </form>
                </div>

            </div>
        </article>
    </div>
{% endblock %}