{% extends 'blog/base.html' %}
{% block content %}
{% load static %}
<form method="POST">
    {% csrf_token %}
    <div class="container">
        <br>
        <h1 class="fw-bolder">{{ title }}</h1>
        <hr><br>
        <div>{{ form.non_field_errors }}</div>
        {% for f in form %}
            <div class="mb-3">
                <h3><label for="{{ f.id_for_label }}">{{ f.label }}</label></h3>
                {{ f }}
            </div>
        {% endfor %}
        <hr>
        <div style="align-content: center">
            <button type="submit" class="btn btn-primary" style="background-color: #16266a; color: white; width: 120px;">Save</button>
            <a class="btn btn-primary" style="text-decoration: none; background-color: #16266a; color: white; width: 170px;" href="{% url "password_change" %}">Change password</a></p>
        </div>
    </div>
</form>

{% endblock %}

